@model List<Biluthyrning.Models.Car>



<h2>Index</h2>

<p>
    <a asp-action="Create">Lägg till bil</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Bokad
            </th>
            <th>
                Biltyp
            </th>
            <th>
                Registeringsnummer
            </th>
            <th>
                Mätarinställning
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Booked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrivenKm) km
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
